<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootsecurity.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.springbootsecurity.pojo.User">
            <id property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="enabled" column="enabled" jdbcType="INTEGER"/>
            <result property="account_no_expired" column="account_no_expired" jdbcType="INTEGER"/>
            <result property="credentials_no_expired" column="credentials_no_expired" jdbcType="INTEGER"/>
            <result property="account_no_locked" column="account_no_locked" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,password,
        sex,address,enabled,
        account_no_expired,credentials_no_expired,account_no_locked
    </sql>
    <select id="selectAllByUsername" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            sys_user
        where username = #{username}
    </select>
</mapper>
